
.even{
    margin-bottom: 10px;
    background-color: rgb(255, 0, 0);
    height: 2rem;
    width: 50%;
}
.odd{
    margin-bottom: 10px;
    background-color: rgb(0, 17, 255);
    height: 2rem;
    width: 50%;
    
}
.n{
    color: rgb(8, 6, 8);
    font-size: 0.8rem;
    

}
